@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

body {
    background-color: #1B2473;
    font-family: 'Roboto', sans-serif;
    color: #787878;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}

.entrance-cabinet {
    width: 600px;
    height: 412px;
    margin: 0 auto;
    margin-top: 82px;
    border-radius: 20px;
    background-color: #ffffff;
    padding-top: 1px;
}

.entrance-cabinet__title {
    width: 115px;
    height: 55px;
    margin: 0 auto;
    margin-top: 25px;
    font-size: 50px;
    font-weight: 700;    
}

.entrance-cabinet__form {
    margin: 0px 46px 26px 45px;
}

.entrance-cabinet__name {
    margin-top: 12px;
    margin-left: 8px;
    font-weight: 700;
    font-size: 16px;    
}

.entrance-cabinet__field {
    padding: 0;
    display: block;
    width: 509px;
    height: 49px;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 3px;
    font-size: 28px;
    font-weight: 700;
    color: #787878;
    border: 1px solid black;    
}

.entrance-cabinet__field::placeholder {
    color: #cccccc;
    opacity: 0.7;  
    padding-left: 15px;
}

.entrance-cabinet__updates {
    display: flex;
    align-items: center;
    margin-top: 16px;
}

.entrance-cabinet__descr {
    font-weight: 400;
    font-size: 14px;
}

.entrance-cabinet__button {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    width: 180px;
    height: 52px;
    border-radius: 10px;
    border: none;
    background-color: #1a226B;
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
}
