@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #1B2473;
    font-family: 'Roboto', sans-serif;
    color: #787878;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}

.entrance-cabinet {
    max-width: 600px;
    height: 412px;
    margin: 0 auto;
    margin-top: 82px;
    border-radius: 20px;
    background-color: #ffffff;
    padding-top: 1px;
    overflow: hidden;
    padding: 0 10px;
}

.entrance-cabinet__title {
    width: 115px;
    height: 55px;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 50px;
    font-weight: 700;    
}

.entrance-cabinet__form {
    margin: 0px 46px 26px 45px;
}

.entrance-cabinet__name {
    max-width: 509px;
    margin-top: 13px;
    margin-left: 8px;
    font-weight: 700;
    font-size: 16px;    
}

.entrance-cabinet__name:nth-child(3) {
    margin-top: 11px;
}

.entrance-cabinet__field {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 49px;
    border-radius: 10px;
    margin-top: 3px;
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
    color: #787878;
    border: 2px solid black;
    padding-left: 15px;
}

.entrance-cabinet__field::placeholder {
    color: #cccccc;
    opacity: 0.7;
}

.entrance-cabinet__updates {
    display: flex;
    align-items: center;
    max-width: 350px;
    height: 24px;
    margin-top: 16px;
}

.entrance-cabinet__box-wrapp {
    display: block;
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-right: 10px;
}

.entrance-cabinet__box-wrapp > input {
    position: absolute;
    transform: scale(0);
}

.entrance-cabinet__box-wrapp > input:checked ~ .entrance-cabinet__box-checkbox {
    transform: rotate(45deg);
    width: 10px;
    margin-left: 16px;
    border-color: #24c78e;
    border-top-color: transparent;
    border-left-color: transparent;
    border-radius: 0;
}

.entrance-cabinet__box-checkbox {
    display: block;
    width: inherit;    
    height: inherit;
    border: 1px solid #434343;
    border-radius: 6px;
    transition: all 0.375s;
    z-index: 100;    
}

.entrance-cabinet__descr {
    margin-left: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.entrance-cabinet__button {
    display: block;
    margin: 0 auto;
    margin-top: 52px;
    width: 180px;
    height: 52px;
    border-radius: 10px;
    border: none;
    background-color: #1a226B;
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    line-height: 16px;
}

@media (max-width: 768px) {
    .entrance {
        width: 100%;
        height: 100%;
    }
   
    .entrance-cabinet {
        margin: 0 auto;
        max-width: 100%;
        height: 98vh;
        padding: 10px;
    }
}

@media (max-width: 390px) {    
    .entrance-cabinet__field {
        font-size: 20px;
    }
}
