@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1380px;
    margin: 0 auto;
}

.header {
    background-color: #EDD603;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
}

.header-block {
    height: 98px;
    display: flex;
    align-items: center;
    &__label {
        margin-left: 30px;
    }
    &__title {
        font-size: 48px;
        font-weight: 400;
        color: #652D90;
    }
}

.products-block {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    align-content: flex-start;
    width: 100%;
    margin-top: 31px;
    min-height: 1081px;
    &__card {    
        max-width: 21.7%;
        height: 37.4%;
        margin-top: 40px;
        margin-right: 4.34%;
        margin-bottom: 10px;
        border-radius: 20px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        &:nth-child(4) {
            margin-right: 0;
        }              
    }

    &__img {
        max-width: 100%;
        img {
            width: 100%;
            height: auto;
        }
    }
    &__name {
        margin-top: 10px;
        margin-left: 12px;
        margin-bottom: 38px;
        font-size: clamp(20px, 3vw, 36px);
        font-weight: 400;
        line-height: 42px;
        color: #000000;
    }
}

.footer {
    background-color: #535252;
    min-height: 300px;
    margin-top: 36px;
}

.footer-block {
    display: flex;
    justify-content: space-between;    
    max-width: 1350px;
    min-height: 250px;    
    &__links {
        display: flex;
        justify-content: space-between;
        margin-top: 25px;
        width: 1000px;
        &__links-wrapper {
            display: flex;
            flex-direction: column;                     
        }
    }
    &__logo {
        margin-top: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        img {
            width: 100%;
            height: 100%;
        }        
    }
    &__logo-copyright {
        width: 227px;
        font-size: clamp(8px, 3vw, 18px);
        font-weight: 400;
        line-height: 21px;
        margin-top: 48px;
        color: #ffffff;
    }
}

.title {
    font-weight: 400;
    font-size: clamp(8px, 3vw, 24px);
    line-height: 28px;
    color: #ffffff;
}

.link {
    display: block;
    margin-top: 6px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 400;
    font-size: clamp(8px, 3vw, 18px);
    line-height: 21px;
    cursor: pointer;
    &:link:first-of-type {
        margin-top: 19px;
    }
}

@media (max-width: 1440px) {    
    .container {
        padding: 0 20px;
    }
}

@media (max-width: 991px) {
    .products-block {
        min-height: 400px;
    }
    
    .footer-block {
        overflow: hidden;
        &__logo {
            position: relative;
            max-width: 181px;
            img {                
                max-width: 100vw;              
            }
            
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 1080px;        
    }

    .products-block {
        margin-left: 4.34%;
        min-height: 400px;
        &__card {
            max-width: 27.7%;
            &:nth-child(3) {
                margin-right: 0;
            } 
            &:nth-child(4) {
                margin-right: 4.34%;
            }
            &:nth-child(6) {
                margin-right: 0;
            }  
        }
    }

    .footer-block {
        flex-direction: column;
        align-items: center;
        &__links {
            width: 100%;
        }
        &__logo {
            align-items: center;
        }
        &__logo-copyright {
            margin-top: 5px;
        }
    }
    .link {
        font-size: clamp(8px, 2vw, 24px);
    }
}

@media (max-width: 576px) {
    .header-block {
        &__title {
            font-size: 35px;
        }
    }

    .container {
        max-width: 600px;         
    }

    .products-block {
        margin-left: 2.7%;
        &__card {
            max-width: 45%; 
            &:nth-child(3) {
                margin-right: 4.34%;
            } 
            &:nth-child(4) {
                margin-right: 4.34%;
            }
        }
    }

    .footer-block {
        flex-direction: row;
        &__links {
            flex-direction: column;
        }
        &__links-wrapper {
            width: 100%;
            margin: 0 auto;
        }
    }

    .link {
        font-size: 16px;
        margin-top: 5px;
        &:link:first-of-type {
            margin-top: 10px;
        }
    }

    .title {
        font-size: 20px;
        margin-top: 5px;
    }
}

@media (max-width: 441px) {
    .header-block {
        &__title {
            font-size: 20px;
        }
    }

    .footer-block {
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
        &__links {
            flex-direction: column;
        }
        &__links-wrapper {
            width: 100%;
            margin: 0 auto;
        }
    }
}