@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    overflow-y: visible;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.header {
    background-color: #EDD603;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
}

.header-block {
    height: 98px;
    display: flex;
    align-items: center;
    &__label {
        margin-left: 30px;
    }
    &__title {
        font-size: 48px;
        font-weight: 400;
        color: #652D90;
    }
}

.products-block {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin: 0 auto;
    margin-top: 31px;
    min-height: 1081px;
    &__card {        
        width: 300px;
        height: 405px;
        margin-top: 40px;
        margin-left: 60px;
        border-radius: 20px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    }
    &__card:first-of-type {
        margin-left: 30px;
    }
    &__card:nth-child(5) {
        margin-left: 30px;
    }
    &__img {
        width: 300px;
        img {
            width: 100%;
            height: auto;
        }
    }
    &__name {
        margin-top: 10px;
        margin-left: 12px;
        font-size: 36px;
        font-weight: 400;
        line-height: 42px;
        color: #000000;
    }
}

.footer {
    background-color: #535252;
    height: 300px;
    margin-top: 36px;
}

.footer-block {
    display: flex;
    justify-content: space-between;    
    min-width: 1350px;
    height: 250px;
    margin-top: 25px;
    &__links {
        display: flex;
        justify-content: space-between;
        min-width: 1000px;
        &__links-wrapper {
            display: flex;
            flex-direction: column;                     
        }
    }
    &__logo {
        display: flex;
        flex-direction: column;
        justify-content: space-between;        
    }
    &__logo-copyright {
        font-size: 18px;
        font-weight: 400;
        line-height: 21px;
        color: #ffffff;
    }
}

.title {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #ffffff;
}

.link {
    display: block;
    margin-top: 6px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    cursor: pointer;
    &:link:first-of-type {
        margin-top: 19px;
    }
}