@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
}

.header {
  background-color: #EDD603;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

.header-block {
  height: 98px;
  display: flex;
  align-items: center;
}
.header-block__label {
  margin-left: 30px;
}
.header-block__title {
  font-size: 48px;
  font-weight: 400;
  color: #652D90;
}

.products-block {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  margin: 0 auto;
  margin-top: 31px;
  min-height: 1081px;
}
.products-block__card {
  width: 300px;
  height: 405px;
  margin-top: 30px;
  margin-left: 60px;
  margin-bottom: 10px;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.products-block__card:first-of-type {
  margin-left: 10px;
}
.products-block__card:nth-child(5) {
  margin-left: 10px;
}
.products-block__img {
  width: 300px;
}
.products-block__img img {
  width: 100%;
  height: auto;
}
.products-block__name {
  margin-top: 10px;
  margin-left: 12px;
  font-size: 36px;
  font-weight: 400;
  line-height: 42px;
  color: #000000;
}

.footer {
  background-color: #535252;
  min-height: 300px;
  margin-top: 36px;
}

.footer-block {
  display: flex;
  justify-content: space-between;
  max-width: 1350px;
  min-height: 250px;
  margin-top: 25px;
}
.footer-block__links {
  display: flex;
  justify-content: space-between;
  width: 1000px;
}
.footer-block__links__links-wrapper {
  display: flex;
  flex-direction: column;
}
.footer-block__logo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.footer-block__logo-copyright {
  width: 227px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #ffffff;
}

.title {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
}

.link {
  display: block;
  margin-top: 6px;
  text-decoration: none;
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  cursor: pointer;
}
.link:link:first-of-type {
  margin-top: 19px;
}

@media (max-width: 1440px) {
  .container {
    padding: 0 15px;
  }

  .products-block {
    justify-content: space-around;
  }
  .products-block__card {
    margin-left: 0;
  }
  .products-block__card:first-of-type {
    margin-left: 0;
  }
  .products-block__card:nth-child(5) {
    margin-left: 0;
  }
}
@media (max-width: 1370px) {
  .footer-block__links {
    flex-wrap: wrap;
    margin-right: 15px;
  }

  .link {
    margin-right: 15px;
  }
}
@media (max-width: 768px) {
  .footer-block {
    align-items: center;
  }
  .footer-block__links {
    flex-direction: column;
  }

  .title {
    margin-top: 19px;
  }
}
@media (max-width: 560px) {
  .header-block__title {
    font-size: 40px;
  }

  .footer-block {
    flex-direction: column;
  }
  .footer-block__links {
    width: 100%;
  }
}